body {
    background-color: #347fc44d;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Heading & Paragraph */

h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 3rem;
    font-weight: lighter;
    font-style: italic;
    letter-spacing: 10px;
    text-align: center;
}

h2 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2rem;
    font-weight: lighter;
    font-style: italic;
    letter-spacing: 5px;
    text-align: center
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Game Navigation */

#game-nav {
    margin: 2rem;
    text-align: center;
}

.btn {
    width: 150px;
    height: 50px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 0 2rem;
    border-radius: 10px;
    border: 2px solid white;
    background-color: #347FC4;
    color: white;
    text-align: center;
}

.btn:hover,
.btn:focus {
    background: #FB5607;
}

.btn:disabled {
    background: grey;
}

#close-btn-rules {
    position: relative;
    left: 91%;
    padding-top: 0.5rem;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

/* Rules Section */

#rules {
    margin: auto;
    width: 50%;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #EECF6D;
    display: none;
}

#rules h2 {
    margin: 0.5em
}

#rules li {
    font-weight: bold;
}

/* Game Controls Section */

#game-con {
    text-align: center;
    display: none;
}

#game-con h2 {
    padding: 2rem;
}

.hand-btn {
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 5px solid;
    width: 120px;
    height: 120px;
    font-size: 3rem;
    margin: 0 1.5rem;
}

.btn-blue {
    border-color: blue;
    color: blue;
}

.btn-blue:hover,
.btn-blue:active {
    background-color: blue;
    color: whitesmoke
}

.btn-green {
    border-color:green;
    color: green;
}

.btn-green:hover,
.btn-green:active {
    background-color: green;
    color: whitesmoke;
}

.btn-red {
    border-color: red;
    color: red;
}

.btn-red:hover,
.btn-red:active {
    background-color: red;
    color: whitesmoke;
}

.btn-yellow {
    border-color: magenta;
    color: magenta;
}

.btn-yellow:hover,
.btn-yello:active {
    background-color: magenta;
    color: whitesmoke;
}

.btn-orange {
    border-color: orange;
    color: orange;
}

.btn-orange:hover,
.btn-orange:active {
    background-color: orange;
    color: whitesmoke;
}

/*  Answer Section*/

#ans-wrapper {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    display: none;
}

#player-wrapper,
#game-wrapper {
    width: 40%;
    height: auto;
    text-align: center;
}

/* Rounds Won Section */

#rounds-won,
#games-won {
    width: 85%;
    height: auto;
    padding-bottom: 1.5rem;
    border: 2px solid black;
    border-radius: 10px;
    background-color: whitesmoke;
    z-index: 10;
    position: relative;
    left: 7%;
    display: none;
}

#rounds-won-msg,
#games-won-msg {
    margin: 2em auto;
}

#close-btn-round,
#close-btn-game {
    position: relative;
    left: 94%;
    padding-top: 0.5rem;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

#play-next {
    margin: 1.5rem;

}

/* Game Score Section */

#game-score {
    padding-top: 2rem;
    display: none;
    justify-content: center;
}

#won-score,
#lost-score {
    width: 40%;
}