body {
    background-color: bisque;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Heading & Paragraph */

h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 3rem;
    font-weight: lighter;
    font-style: italic;
    letter-spacing: 10px;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight:800;
    font-style: italic;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Game Navigation */

#game-nav {
    margin: 2rem;
    text-align: center;
}

.btn {
    width: 150px;
    height: 50px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-right: 2rem;
    border-radius: 10px;
    border: 2px solid; 
}

btn::after {
    content: attr(data-type);
    background: chartreuse;
}

btn:active {
    content: attr(data-type);
    background:coral;
}