body {
    background-color: #347fc44d;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Headings & Paragraph */

h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 3rem;
    font-weight: lighter;
    font-style: italic;
    letter-spacing: 10px;
    text-align: center;
}

h2 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2rem;
    font-weight: lighter;
    font-style: italic;
    letter-spacing: 5px;
    text-align: center
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
}


p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    padding: 0.5rem;
    margin: 0;
}

/* Video on landing page */

#video-wrapper {
    position: relative;
    width: 60rem;
    height: 33.75rem;
    margin: 4rem auto;
}

#video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* Game Navigation */

#game-nav {
    margin: 2rem;
    text-align: center;
}

button {
    padding: 0;
}

.btn {
    width: 150px;
    height: 50px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 0 2rem;
    border-radius: 10px;
    border: 2px solid white;
    background-color: #347FC4;
    color: white;
}

.btn:hover,
.btn:focus {
    background: #FB5607;
}

.btn:disabled {
    background: grey;
}

/* Rules Section */

#rules {
    margin: auto;
    width: 50%;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #EECF6D;
    display: none;
    margin-bottom: 2rem;
}

#rules h2 {
    margin: 0.5em
}

#rules li {
    font-weight: bold;
}

#close-btn-rules {
    position: relative;
    left: 91%;
    padding-top: 0.5rem;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

/* Game Controls Section */

#game-con {
    text-align: center;
    display: none;
}

#game-con h2 {
    padding: 2rem;
}

.hand-btn {
    border-radius: 50%;
    background-color: white;
    border: 5px solid;
    width: 120px;
    height: 120px;
    font-size: 3rem;
    margin: 0 1.5rem;
}

.btn-blue {
    border-color: blue;
    color: blue;
}

.btn-blue:hover,
.btn-blue:active {
    background-color: blue;
    color: whitesmoke
}

.btn-green {
    border-color: green;
    color: green;
}

.btn-green:hover,
.btn-green:active {
    background-color: green;
    color: whitesmoke;
}

.btn-red {
    border-color: red;
    color: red;
}

.btn-red:hover,
.btn-red:active {
    background-color: red;
    color: whitesmoke;
}

.btn-yellow {
    border-color: magenta;
    color: magenta;
}

.btn-yellow:hover,
.btn-yello:active {
    background-color: magenta;
    color: whitesmoke;
}

.btn-orange {
    border-color: orange;
    color: orange;
}

.btn-orange:hover,
.btn-orange:active {
    background-color: orange;
    color: whitesmoke;
}

/* Rounds Won Section */

#rounds-won,
#games-won {
    width: 70%;
    height: auto;
    padding-bottom: 1.5rem;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #EECF6D;
    z-index: 10;
    position: relative;
    left: 15%;
    display: none;
}

.player-wrapper {
    float: left;
    width: 20%;
    height: auto;
    text-align: center;
    margin-top: 4rem;
    margin-left: 2rem;

}

.game-wrapper {
    float: right;
    width: 20%;
    height: auto;
    text-align: center;
    margin-top: 4rem;
    margin-right: 2rem;
}

#rounds-won-msg,
#games-won-msg {
    margin: 2em auto;
    width: 100%;
}

.icon-ans {
    padding: 0;
    border-radius: 50%;
    background-color: white;
    border: 5px solid;
    width: 90px;
    height: 90px;
    font-size: 3rem;
    margin: 0 1.5rem;
    text-align: center;
}

#close-btn-round,
#close-btn-game {
    position: relative;
    left: 72%;
    padding-top: 0.5rem;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

/* Game Score Section */

#game-score {
    padding-top: 2rem;
    display: none;
    justify-content: center;
}

#won-score,
#lost-score {
    width: 40%;
}

/* Winner & Loser Image */

#final-result {
    width: 100%;
    display: none;

}

#winner,
#loser {
    width: 30%;
    position: relative;
    left: 35%;
    display: none;
}

/* Media Queries */

/* Wide Screen Desktop */

@media only screen and (min-width: 1300px) and (max-width: 1450px) {

    #close-btn-round,
    #close-btn-game {
        left: 70%;
    }
}

/* Standard Desktop */
@media only screen and (min-width: 1025px) and (max-width: 1300px) {

    .game-wrapper {
        margin-right: 1rem;
    }

    player-wrapper {
        margin-left: 1rem;
    }

    #close-btn-round,
    #close-btn-game {
        left: 68%;
    }
}

/* iPad landscape */

@media only screen and (min-width: 900px) and (max-width: 1024px) and (orientation: landscape) {

    #video-wrapper {
        width: 55em;
        height: 30.9375rem;
    }

    #close-btn-rules {
        left: 88%;
    }

    #close-btn-round,
    #close-btn-game {
        left: 66%;
    }
}

/* Tablet Landscape and Smaller Desktop Screens */

@media only screen and (min-width: 716px) and (max-width:899px) {

    h2 {
        font-size: 1.5rem;
        letter-spacing: 3px;
    }

    p {
        padding: 1rem;
    }

    .btn {
        width: 120px;
    }

    #video-wrapper {
        width: 44rem;
        height: 24.75rem;

    }

    #close-btn-rules {
        left: 86%;
    }

    .hand-btn {

        width: 100px;
        height: 100px;
        margin: 0 1rem;
    }

    #won-score,
    #lost-score {
        padding: 0 2.4rem
    }

    #close-btn-round,
    #close-btn-game {
        left: 64%;
    }

    .icon-ans {
        width: 80px;
        height: 80px;
        margin: 0;
        font-size: 2rem;
    }
}

/* Tablet Small */

@media only screen and (min-width: 621px) and (max-width: 715px) {

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    .btn {

        margin: 1rem;
        width: 120px;

    }

    #video-wrapper {
        width: 37rem;
        height: 20.8125rem;
        margin: 2rem auto;
    }

    #rules {
        width: 70%;

    }

    #close-btn-rules {
        left: 90%;
        font-size: 2.5rem;
    }

    .hand-btn {
        width: 90px;
        height: 90px;
        font-size: 2.5rem;
        margin: 1rem;
    }

    #game-score {
        clear: both;
    }

    #won-score,
    #lost-score {
        width: 50%;
        padding: 0;
    }

    #rounds-won,
    #games-won {
        width: 90%;
        left: 5%;
    }

    #rounds-won-msg,
    #games-won-msg {
        margin: 1rem auto 0 auto;
    }

    #close-btn-round,
    #close-btn-game {
        font-size: 2.5rem;
        left: 66%;
    }

    .player-wrapper {
        width: 40%;
        margin: 3rem auto 0 0;
    }

    .game-wrapper {
        width: 40%;
        margin: 3rem 0 0 auto;
    }
}

/* Smartphone small */

@media only screen and (min-width: 320px) and (max-width: 400px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .btn {

        margin: 0.5rem;
        width: 75px;
        height: 40px;
        font-size: 1.2rem;
    }

    #game-nav {
        margin: 1rem;
    }

    #video-wrapper {
        width: 19rem;
        height: 10.6875rem;
        margin: 2rem auto;
    }

    #rules {
        width: 90%;
    }

    #close-btn-rules {
        left: 88%;
        font-size: 2rem;
    }

    .hand-btn {
        border: 4px solid;
        width: 80px;
        height: 80px;
        font-size: 2rem;
        margin: 0 0.2em;
    }


    #rounds-won,
    #games-won {
        width: 90%;
        left: 5%;
    }

    #rounds-won-msg,
    #games-won-msg {
        margin: 13em auto 0 auto;
    }

    #close-btn-round,
    #close-btn-game {
        font-size: 2rem;
        left: 47%;
    }

    .icon-ans {
        border: 3px solid;
        width: 60px;
        height: 60px;
        font-size: 2rem;
    }


    .player-wrapper {
        width: 35%;
        margin: 3rem auto 0 1rem;
    }

    .game-wrapper {
        width: 35%;
        margin: 3rem 1rem 0 auto
    }

}

/* Smartphone medium */

@media only screen and (min-width: 401px) and (max-width: 499px) {

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .btn {

        margin: 0.5rem;
        width: 75px;
        height: 40px;
        font-size: 1.2rem;
    }

    #game-nav {
        margin: 1rem;
    }

    #video-wrapper {
        width: 24rem;
        height: 13.5rem;
        margin: 2rem auto;
    }

    #rules {
        width: 90%;

    }

    #close-btn-rules {
        left: 90%;
        font-size: 2rem;
    }

    .hand-btn {
        border: 4px solid;
        width: 80px;
        height: 80px;
        font-size: 2rem;
        margin: 0 0.2em;
    }

    #won-score,
    #lost-score {
        width: 50%;
        padding: 0;
    }

    #rounds-won,
    #games-won {
        width: 90%;
        left: 5%;

    }

    #rounds-won-msg,
    #games-won-msg {
        margin: 14rem auto 0 auto;
    }

    #close-btn-round,
    #close-btn-game {
        font-size: 2.5rem;
        left: 49%;
    }

    .player-wrapper {
        width: 35%;
        margin: 3rem auto 0 1rem;
    }

    .game-wrapper {
        width: 35%;
        margin: 3rem 1rem 0 auto
    }
}

/* Smartphone Large */

@media only screen and (min-width: 500px) and (max-width: 620px) {

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .btn {

        margin: 0.5rem;
        width: 75px;
        height: 40px;
        font-size: 1.2rem;
    }

    #game-nav {
        margin: 1rem;
    }

    #video-wrapper {
        width: 30rem;
        height: 16.875rem;
        margin: 2rem auto;
    }

    #rules {
        width: 90%;

    }

    #close-btn-rules {
        left: 91%;
        font-size: 2.5rem;
    }

    .hand-btn {
        border: 4px solid;
        width: 80px;
        height: 80px;
        font-size: 2rem;
        margin: 0 0.2em;
    }

    #won-score,
    #lost-score {
        width: 50%;
        padding: 0;
    }

    #rounds-won,
    #games-won {
        width: 90%;
        left: 5%;
    }

    #rounds-won-msg,
    #games-won-msg {
        margin: 1rem auto 0 auto;
    }

    #close-btn-round,
    #close-btn-game {
        font-size: 2.5rem;
        left: 55%;
    }

    .player-wrapper {
        width: 35%;
        margin: 3rem auto 0 0;
    }

    .game-wrapper {
        width: 35%;
        margin: 3rem 0 0 auto;
    }
}